ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu {
  display: flex;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  /*Navbardaki başlıkların arasını column-gap ile açtık */
  column-gap: 10px;
}

.cursor {
  cursor: pointer;
}

.form>div {
  margin-bottom: 10px;
}

.form>div>label {
  display: block;

}

.form>div>input,
textarea {
  padding: 7px;
}